[data-page-type~="customizations"] {
    .feed-previews {
        display: none;
    }

    .late-customizations {
        [name="change"] {
            display: none;
        }
    }

    .late-customizations--manage {
        [name="change"] {
            display: inline;
        }
        [name="manage"] {
            display: none;
        }
    }
}
